.LoadingPanel {
  background: $main-colour;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  @include rounded(2px);
  @include layer-7;

  &__spinner {
    margin: 0 auto;
    display: block;
    padding-top: 24px;
  }
}
