$border-colour: #ccc;

.FeedItem {
  margin: 14px 0;
  background: $accent-1;
  @include rounded(2px);
  padding: 10px 15px;
  @include layer-2;

  &__profile-image {
    width: 64px;
    margin: 0 10px 8px 0;
  }

  &__comments {
    list-style: none;
    padding: 0;
  }
}

.NewPost {
  padding: 10px 15px;
  background: $accent-1;
  @include rounded(2px);
  @include layer-1;

  &__content {
    width: 100%;
    border: 1px solid $border-colour;
    background: transparent;
  }

  &__button {
    @include button(45px);
  }
}

.FeedItemCommentBox {
  &__new,
  &__button {
    @include button;
  }

  &__content {
    width: 100%;
    border: 1px solid $border-colour;
    background: transparent;
  }
}

.FeedItemComment {
  &__profile-image {
    width: 32px;
    margin: 0 6px 4px 0;
  }
}
